.intro-text {
    font-size: 2rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    /* margin-top: -200px; */
    top: -200px;
    transition: margin-top 1s, top 1s;
    width: 50%;
}

.intro-text-animation {
   margin-top: 320px;
   /* top: 320px; */
}
@media (max-width:750px) {
    
    .intro-text {
        position: static;
        margin-left: -200px;
        filter: blur(5px);

        transition: margin-left 1s;

    }
    .intro-text-animation {
        margin:170px auto 0;
        width: 70%;
        font-size: 2.1rem;
        text-align: center;
        filter: blur(0);
    }
    
}